.news-letter
{
    min-height: 50vh;
    background-color: $primary-color;
    margin-top: 25vh;
    padding-top: 5px;
    padding-bottom: 5vh;
    text-align: center;

    h2 
    {
        color: #fff;
        font-weight: 600;
        margin: 70px 0;
    }

    input 
    {
        width: 60%;
        background-color: transparent;
        outline: none;
        border: 0;
        border-bottom: 1px solid #fff;
        padding: 10px;
        color: #fff;
        margin-bottom: 30px;
        text-align: center;
    }

    ::placeholder
    {
        color: #fff;
        opacity: 0.5;
        font-size: 17px;
    }

    .btn-custom
    {
        border-color: #fff;
        display: block;
        margin: auto;

        &:hover 
        {
            border: 2px solid #fff;
            background-color: #fff;
            color: $primary-color;
        }
    }
}