@media only screen and (max-width: 575px) 
{
    .highlighted-box
    {
        padding: 0 25%;
    }

    .highlighted-img img 
    {
        height: 300px;
    }

    .btn-buy
    {
        width: 100px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px)
{
    .highlighted-box
    {
        padding: 0 10%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px)
{
    .highlighted-img img 
    {
        height: 350px;
    }
}